@font-face {
  font-family: "ExcaliFont";
  src: url("/fonts/Virgil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*********** FONTS **********/

:root {
  --logo-size: 100px;
  --sidenav-size: 200px;
}

html {
  font-family: "ExcaliFont", sans-serif;
  font-size: 12px;
  background-color: #fff;
  background-image: radial-gradient(#999 5%, transparent 0);
  background-size: 35px 35px;
  scroll-behavior: smooth;
  overscroll-behavior: none; /* Prevents the bounce effect */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.2;
}

/*******************  SIDENAV  ********************************/

.sidenav {
  font-family: "ExcaliFont", sans-serif;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--sidenav-size); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the children horizontally */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #6c98d3;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 20px 0;
}

.logo {
  height: var(--logo-size);
  width: auto; /* Ensure the aspect ratio is maintained */
}

.main {
  width: 60%;
  max-width: 800px;
  padding: 0px 10px;
}

/* ******************************* CONTACT INFO ******************** */

.contact-info {
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.contact-info ul li {
  margin: 0 10px;
}

.contact-info ul li a {
  color: #343a40;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info ul li a:hover {
  color: #007bff;
}

/******************* Entries ******************/

.post-it-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.post-it-container {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.post-it {
  width: 100%;
  max-width: 200px;
  background-color: #fef68a; /* Post-it note color */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: rotate(-10deg); /* Rotate to mimic a post-it note, default value */
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-it img {
  width: 100%;
  height: 100%;
}

.thumbtack {
  width: 20px;
  height: 20px;
  background-color: red; /* Thumbtack color */
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.blog-info {
  flex: 1;
  padding: 0 0 0 20px;
}

.blog-title {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.blog-description {
  margin: 10px 0 0;
  color: #666;
}

/**************** Media Queries ******************/

@media (max-width: 768px) {
  .sidenav {
    position: static; /* Make it flow with the document */
    width: 100%; /* Full width */
    height: auto; /* Auto height */
  }

  .main {
    width: 100%; /* Full width */
    margin-top: 20px; /* Space between sidenav and main content */
  }

  .post-it-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align */
  }

  .post-it {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add bottom margin */
  }
}

.blog-title img {
  height: 1em;
  float: right;
  margin-left: 10px;
}
