<nav class="navbar">
  <div class="glider-container">
    <div class="glider">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
  </div>
  <h1 class="site-title">
    <a href="{{ .Site.BaseURL }}" class="site-title-link">{{ replaceRE "True" "<span class=\"true\">True</span>" site.Title | safeHTML }}</a>
  </h1>
  <div class="spacer"></div>
  <ul>
    {{- range .Site.Menus.main }}
      <li>
        {{ $isActive := or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
        <a
          href="{{ .URL }}"
          class="brackets {{ if $isActive }}active{{ end }}"
          {{ if $isActive }}aria-current="page"{{ end }}
        >
          {{ .Name }}
        </a>
      </li>
    {{- end }}
  </ul>
</nav>
