{{ $label := .Get 0 }}
{{ $path := .Get 1 }}

{{ if not (.Page.Scratch.Get "sidenote_counter") }}
  {{ .Page.Scratch.Set "sidenote_counter" 0 }}
{{ end }}
{{ $counter := add 1 (.Page.Scratch.Get "sidenote_counter") }}
{{ .Page.Scratch.Set "sidenote_counter" $counter }}
{{ $id := printf "sn-%d" $counter }}

<span class="sideimg">
    <span class="sideimg-label">{{ $label }}</span>
    <span class="sideimg-content">
        <a href="{{ $path }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ $path }}" alt="{{ $label }}">
        </a>
    </span>
</span>